@font-face {
  font-family: 'Shadows Into Light';
  src: url("fonts/ShadowsIntoLight-Regular.woff2") format('woff2');
}

@font-face {
  font-family: 'Outfit';
  src: url("fonts/Outfit-VariableFont_wght.woff2") format('woff2');
}

@font-face {
  font-family: 'Google Sans Code';
  src: url("fonts/GoogleSansCode-VariableFont_wght.woff2") format('woff2');
}

html, body {
  background-color: #ecd3b3;
  height: 100%;
  margin: 0;
}

body {
  padding-bottom: 50%;
}

a {
  color: #000000;
}

div.header a, a#article {
  text-decoration: none;
}

div.header {
  font-family: 'Shadows Into Light';
  font-size: 2em;
  padding: 0.5em;
  background-color: #f7d9b4;
  display: flex;
  justify-content: space-between;
}

div.nav {
  display: flex;
  justify-content: space-between;
  gap: 1.2em;
  padding-right: 1em;
  float: right;
}

div.content {
  max-width: 33%;
  margin: 0 auto;
}

h1 {
  font-family: 'Shadows Into Light';
  font-size: 4em;
  text-align: center;
}

div.article-title {
  font-family: 'Outfit';
  font-size: 3em;
  text-align: center;
  margin-top: 50px;
}

p, ul {
  font-family: 'Outfit';
  font-size: 1.3em;
}

h3 {
  font-family: 'Outfit';
  font-size: 2em;
}

h2 {
  font-family: 'Outfit';
  font-size: 2.5em;
}

div.article-title-preview {
  font-family: 'Outfit';
  font-size: 1.5em;
  margin-top: 40px;
}

div.article-date {
  font-family: 'Shadows Into Light';
  font-size: 2em;
  margin-top: -10px;
}

a div.article-date {
  font-size: 1.5em;
}

div.detail {
  font-family: 'Shadows Into Light';
  font-size: .9em;
}

pre {
  font-family: 'Google Sans Code';
  font-size: 1.4em;
  border-radius: 5px;
  padding: 10px;
  background-color: #101010 !important;
  overflow-x: auto;
}

blockquote p:before, blockquote p:after {
  content: "\"";
}

blockquote p {
  font-family: 'Shadows Into Light';
  font-size: 1.7em;
}

span.warning {
  font-family: 'Shadows Into Light';
  font-size: 2em;
  color: #ff0000;
  text-shadow: 0 0 20px #ff0000, 0 0 30px #ff0000;
  font-weight: bold;
}

@media screen and (max-width: 990px) {
  div.header {
    font-size: 1.7em;
    display: block;
    text-align: center;
    padding-bottom: 20px;
  }

  div.nav {
    padding-right: 0;
    float: none;
    justify-content: center;
  }

  div.article-title {
    margin-top: 10px;
    font-family: 'Outfit';
    font-size: 1.7em;
    text-align: center;
  }

  div.article-date {
    margin-top: 0;
    font-size: 1.5em;
  }

  div.content {
    max-width: 100%;
    padding: 10px;
  }

  h1 {
    font-size: 2.3em;
  }

  p, ul {
    margin-top: 20px;
    font-size: 1.2em;
  }

  ul {
    padding-left: 0;
  }

  pre {
    font-size: 1.3em;
    padding: 5px;
  }
}