html, body {
    background-color: #000000;
    height: 100%;
    margin: 0;
}

div {
    color: #ffffff;
}

div.header {
    background-color: rgba(32, 33, 34, 0.92);
    box-shadow: none;
}

a {
    color: #ffffff;
}

pre {
    background-color: #000000 !important;
}