{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>
<ul>
  <!-- If you are using pagination, section.pages will be empty.
       You need to use the paginator object -->  
  {% for page in section.pages %}<a id="article" href="{{ page.permalink | safe }}">
  <div class="article-title-preview">{{ page.title }}</div>
  <div class="article-date">{{ page.date }}</div></a>
  {% endfor %}
  <a id="article" href="/dpi">
  <div class="article-title-preview">[OLD] Making "Almost DPI" with firewall rules</div>
  <div class="article-date">July 24, 2021</div></a>

  <a id="article" href="/hotspot">
  <div class="article-title-preview">[OLD] Making the Ultimate Hotspot</div>
  <div class="article-date">July 14, 2021</div></a>

  <a id="article" href="/modem">
  <div class="article-title-preview">[OLD] "Hacking" an LTE Modem</div>
  <div class="article-date">June 16, 2021</div></a>

  <a id="article" href="/sfpplus">
  <div class="article-title-preview">[OLD] SFP+ Disassembly</div>
  <div class="article-date">June 1, 2021</div></a>
</ul>
{% endblock content %}