<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ config.title }}{% endblock title %}</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
        <link rel="stylesheet" type="text/css" href="/light.css" media="none">
        <link rel="stylesheet" type="text/css" href="/dark.css" media="none">
        <script src="/darkmode.js" defer></script>
    </head>
    <body>
        <div class="header">
            <div class="header-title">
                <a href="/">{{ config.title }}</a>
            </div>
            <div class="nav">
                <a href="/about">About</a>
                <a href="/articles">Articles</a>
                <a href="#" onclick="toggleDarkMode()" id="darkmodebutton">Dark Mode</a>
            </div>
        </div>
        <div class="content">
            {% block content %} {% endblock content %}
        </div>
    </body>
</html>